/* Game Container */
.game-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Game Screen */
.game-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom-image1 {
    position: fixed;
    left: 38%;
    bottom: 0;
   
    width: 100vw;
    height: 25vh;  
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.bottom-image1 img {
    width: 25%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}

.bottom-image2 {
    position: fixed;
    right: 38%;
    bottom: 0;
   
    width: 100vw;
    height: 25vh;  
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.bottom-image2 img {
    width: 25%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}

.bottom-image3 {
    position: fixed;
    left: 20%;
    bottom: 0;
   
    width: 100vw;
    height: 25vh;  
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.bottom-image3 img {
    width: 25%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}

.bottom-image4 {
    position: fixed;
    right: 20%;
    bottom: 0;
   
    width: 100vw;
    height: 25vh;  
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.bottom-image4 img {
    width: 25%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}

.bottom-image5 {
    position: fixed;
    left: 0;
    bottom: 0;
   
    width: 100vw;
    height: 25vh;  
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.bottom-image5 img {
    width: 25%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}


/* Pause Button */
.pause-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.pause-button:hover {
    background-color: darkgray;
}