/* Game Container */
/* html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
} */
.game-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: lightblue;
    background-size: cover;
    /* Ensures the background covers the entire screen */
    display: flex;
    align-items: center;
    justify-content: center;
} 

/* Game Screen */
.game-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}
.bottom-image1 {
    position: fixed;
    left: 38%;
    bottom: 0;
   
    width: 100vw;
    height: 25vh;  
    /* display: flex; */
    align-items: flex-end;
    justify-content: center;
}


.bottom-image1 img {
    width: 25%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}

.bottom-image2 {
    position: fixed;
    right: 38%;
    bottom: 0;
   
    width: 100vw;
    height: 25vh;  
    /* display: flex; */
    align-items: flex-end;
    justify-content: center;
}


.bottom-image2 img {
    width: 25%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}

.bottom-image3 {
    position: fixed;
    left: 20%;
    bottom: 0;
   
    width: 100vw;
    height: 25vh;  
    /* display: flex; */
    align-items: flex-end;
    justify-content: center;
}


.bottom-image3 img {
    width: 25%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}

.bottom-image4 {
    position: fixed;
    right: 20%;
    bottom: 0;
   
    width: 100vw;
    height: 25vh;  
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.bottom-image4 img {
    width: 25%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}

.bottom-image5 {
    position: fixed;
    left: 0;
    bottom: 0;
   
    width: 100vw;
    height: 25vh;  
    /* display: flex; */
    align-items: flex-end;
    justify-content: center;
}


.bottom-image5 img {
    width: 25%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}




/* Pause Button */
.pause-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.pause-button:hover {
    background-color: darkgray;
}

.playerTurn-Text {
    position: absolute;
    top: 100px;
    left: 745px;
    font-size: 80px;
    color: black;
}
.equation-Text {
    position: absolute;
    top: 200px;
    left: 800px;
    font-size: 70px;
    color: black;
}
.answer-input {
    position: absolute;
    top: 380px;
    left: 920px;
    font-size: 40px;
    color: black;
    background-color: lightblue;
    border: none;
    width: 200px;
    height: 50px;
    text-align: center;
}

/* Player 1: Cat */
.char-P1-4-c {
    height: 1350px;
    left: 455px;
    position: absolute;
    top: 565px;
    width: 130px;
    clip-path: inset(0px 0px 1200px 0px);
    image-rendering: pixelated;
}

/* Player 2: Knight */
.char-P2-3-c {
    left: 855px;
    position: absolute;
    top: 570px;
    width: 900px;
    height: 150px;
    clip-path: inset(0px 600px 0px 0px);
    /* object-fit: cover; */
}
